@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.contact{
  background-color: #FFFFFF;
  
  .header{
    background-color:#3399CC;
    margin:0px;
    padding:26px;
    height: 100%;
  }
  
  .title{
    color:white;
    font-family:"Century Gothic";
    font-size:73px;
    padding: 0;
    margin-top : 13px; 
  }
  
  .menu .menu-nav .menu-items {
    
    font-weight:bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  .menu .menu-nav .menu-items .menu-item {
    font-family:"Segoe UI Black";
    font-size:23px;
    font-weight: 400;
    text-transform: uppercase;
    margin:0;
    padding:7px;
    display: inline-block;
    color: white;
    margin-left:13px;
    text-align: center;
    text-decoration: none;
  }
  .menu-item{
    select{
      color: white;
      background-color: #333333;
      font-size: 23px;
      border: none;
      font-weight: 800;
    }
  }
  
  .menu .menu-nav .menu-items .menu-img-item {
    float:right;
   /* display: inline-block;*/
    margin-left: auto;
    margin-right:25px;
    margin-top: 5px;
    /*margin-bottom: 6px;*/
    
  }
  
  .menu-item a{
    text-decoration: none;
    color: white;
  }
  
  .contacts-container{
    width: 100%;
    display: inline-block;
}
.contacts-list{
  padding-left: 40px;
  padding-right: 40px;
  li{
    list-style-type: none;
    border: 1px solid #CCCCCC;
    padding-left: 15px;
    }

    li:hover{
      background-color: #CEE7F2;
  }
  
} 


.contacts-header{
    font-size: 20px;
    font-family: Arial;
    font-weight: 700;
    margin-left: 36px;

}

.list-contact-name{
    font-weight: 100;
    font-size: 31px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.list-contact-detail{
    font-size:17px;
    margin-top: 0px;
    margin-bottom: 3px;
}


.active-contact-details{
  display: block;
  text-align: center;
 /* width: 100%;*/
}

.button{
  float: right;
  top:0;
}
.detail-name{
  font-size:40px;
  font-weight: 400;
  margin-bottom: 5px;

}
.detail-value{
  font-size: 19px;
  margin-top: 0;
  margin-bottom: 0;
}

.mobile{
  margin-bottom: 0px;
}


.edit{
  text-decoration: none;
  color:black;
}
.delete{
  font-size: 20px;
}
.edit-options{
  margin-top: 15px;

}
}

